#App
APP_PORT=9000
APP_ORIGIN=http://localhost

#JWT
JWT_EXPIRED_DURATION_IN_HOUR=24h

#Knex
DB_CLIENT='pg'
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DEBUG=false 
DB_DATABASE=DB_NAME
CHUNK_SIZE=100
