#App
APP_PORT=9000
APP_ORIGIN=http://localhost

#JWT
JWT_EXPIRED_DURATION_IN_HOUR=24h

#Knex
DB_CLIENT='pg'
DB_HOST=100.104.216.52
DB_PORT=5432
DB_USER=pi
DB_PASSWORD=admin123
DB_DEBUG=false 
DB_DATABASE=DB_DM_DEV
CHUNK_SIZE=100

# Rabbit MQ
EXCHANGE_NAME=pubsub
EXCHANGE_TYPE=direct``